body {
    background: linear-gradient(to left, rgb(144, 0, 255),rgb(42, 2, 110),rgb(92, 0, 84));
    margin: 0; 
    height: 100vh; 
    overflow: auto;
    padding: 0;
}

.title1{
    color: rgb(119, 0, 255);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: linear-gradient(to bottom, rgb(255, 250, 250),  rgb(236, 208, 255));

}

.nav-li{
    margin-left: 10px;
}
.nav-ul{
    display: flex;
    list-style: none;
}

.nav-a{
    text-decoration: none;
    color: rgb(132, 0, 255);
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-a:hover{
    color: rgb(255, 255, 255);
}

.nav-li:hover{
    background-color: rgb(93, 0, 168);
    border-radius: 20px;
    transition: 150ms;
}
.menu-toggle {
    display: none;
    margin-left: 10px;
}
.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #000; 
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        align-items: left;
        background-color: #fff;
        width: 100%;
        height: 100%;
        position: absolute;
        top: 70px;
        left: 0;

    }

    .nav-li {
        margin: 10px 0;
    }

    .nav-a {
        color: #000;
    }

    .nav-ul.active {
        display: flex;
    }


}





.footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top, rgb(255, 255, 255),  rgb(233, 199, 255));
    padding: 20px;
    text-align: center;
}

.footer h3,
.footer address {
    margin: 0;
    padding: 10px 0 0 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    display: inline; 
    margin-right: 10px; 
}
