* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", Arial, Helvetica, sans-serif;
}

:root {
    --cor-do-header: #9109b3;
    --cor-do-fundo: #fdffff;
    --cor-do-titulo: #ffffff;
    --cor-do-menu-1: #122d85;
    --cor-do-menu-2: #303030cc;
    --cor-da-fonte-menu: #ffffff;
    --cor-do-footer: #b9b9b9;
}

html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    background: var(--cor-do-fundo);
}

body {
    background-size: cover;
    overflow: auto;
    padding: 0;
}

.title1 {
    color: var(--cor-do-titulo);
    display: flex;
    margin: auto;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: var(--cor-do-header);
    padding: 0 1rem;
}

.nav-li {
    margin-left: 10px;
}

.nav-ul {
    display: flex;
    list-style: none;
}

.nav-a {
    text-decoration: none;
    color: rgb(255, 239, 239);
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-a:hover {
    color: #000000;
}

.nav-li:hover {
    background-color: rgb(255, 255, 255);
    border-radius: 20px;
    transition: 150ms;
}

.menu-toggle {
    display: none;
    margin-left: 10px;
    transition: 0.3s ease-in-out ;
}

.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 5px 0;
    transition: 0.3s ease-in-out ;
}

.menu-toggle.open .menu-bar:nth-child(1) {
    transform: rotate(45deg) translate(5px, 5px);
    transition: 0.3s ease-in-out ;
  }
  
  .menu-toggle.open .menu-bar:nth-child(2) {
    opacity: 0;
    transition: 0.3s ease-in-out ;
  }
  
  .menu-toggle.open .menu-bar:nth-child(3) {
    transform: rotate(-45deg) translate(5px, -5px);
    transition: 0.3s ease-in-out ;
  }

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        align-items: flex-start;
        background-color: #ffffff;
        width: 100%;
        position: absolute;
        top: 75px;
        right: 0;
        border-bottom: solid 1px rgb(0, 0, 0);
        animation: slide-right 0.3s ease-in-out; 
    }         

  @keyframes slide-right {
    0% {
      right: -100%;
    }
    100% {
      right: 0;
    }
  }

  @keyframes slide-left {
    0% {
        right: 0;
      }
    100% {
        right: -100%;
      }
  }


    .nav-li {
        margin: 10px 0;
        width: 100%;
        text-align: center;
    }

    .nav-a {
        color: #000;
        display: block;
        width: 100%;
        padding: 20px 0;
        background-color: #ffffff; 
    }

    .nav-ul.active {
        display: flex;
        animation: slide-right 0.3s ease-in-out forwards;
    }

    .nav-ul.desactive{
        animation: slide-left 0.3s ease-in-out forwards
    }
}


.content {
    flex: 1;
    background: var(--cor-do-fundo);
    width: 100%;
    padding: 1rem;
    margin: auto;
    border-radius: 10px;
}

article {
    font-size: 20px;
    margin: 20px;
    color: rgb(0, 0, 0);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

article p {
    font-size: 23px;
    margin-bottom: 50px;   
}

.projs {
    font-size: 25px;
    display: flex;
    align-items: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 20px;
}

.projs img {
    width: 8%;
    height: 8%;
    border-radius: 10px;
}

.projs a {
    margin-left: 10px;
    color: var(--cor-do-header);
    text-decoration: none;
}

.footer {
    background: var(--cor-do-footer);
    padding: 10px;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    margin-top: auto; 
}

.footer h3 {
    margin: 0;
    padding: 10px 0 0 10px;
}

.socials {
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem 0;
}

.socials li {
    margin: 0 10px;
}

.socials a {
    text-decoration: none;
    color: var(--cor-do-header);
}

.socials a i {
    font-size: 1.6rem;
    transition: color 0.4s ease;
}

.socials a:hover i {
    color: rgb(0, 0, 0);
}

@media screen and (max-width: 768px) {
    .content {
        padding: 0.5rem;
    }

    .nav-ul {
        top: 100px; 
    }

    .projs {
        flex-direction: column;
    }

    .projs img {
        width: 20%;
        height: 20%;
    }

    .projs a {
        margin-left: 0;
        margin-top: 10px;
    }
}
