body {
    background-size: cover;
    background: linear-gradient(to left, rgb(144, 0, 255),rgb(42, 2, 110),rgb(92, 0, 84));
    margin: 0; 
    height: 100vh; 
    overflow: auto;
    padding: 0;
}

.title1{
    color: rgb(119, 0, 255);
    display: flex;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background: linear-gradient(to bottom, rgb(255, 250, 250),  rgb(236, 208, 255));

}

.nav-li{
    margin-left: 10px;
}
.nav-ul{
    display: flex;
    list-style: none;
}

.nav-a{
    text-decoration: none;
    color: rgb(132, 0, 255);
    padding: 20px;
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.nav-a:hover{
    color: rgb(255, 255, 255);
}

.nav-li:hover{
    background-color: rgb(93, 0, 168);
    border-radius: 20px;
    transition: 150ms;
}
.menu-toggle {
    display: none;
    margin-left: 10px;
}
.menu-bar {
    width: 25px;
    height: 3px;
    background-color: #000; 
    margin: 5px 0;
}

@media screen and (max-width: 768px) {
    .menu-toggle {
        display: block;
        cursor: pointer;
    }

    .nav-ul {
        display: none;
        flex-direction: column;
        align-items: left;
        background-color: #fff; 
        padding: 10px;
        width: 100%;
        position: absolute;
        top: 100%;
        left: 0;
        z-index: 1000;
    }

    .nav-li {
        margin: 10px 0;
    }

    .nav-a {
        color: #000;
    }

    .nav-ul.active {
        display: flex;
    }
}

.t1 {
    display: flex;
    margin: auto;
    justify-content: center;
    color: white;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: italic; 
    text-shadow: 2px 2px 1px rgb(233, 23, 233);
    padding-bottom: 10px;
}
.sketch {
    display: grid;
    place-items: center;
    margin-top: 5rem;
}

.control {
    margin: .5rem auto;
    width: fit-content;
}

#colorPicker{
    border-radius: 10px;
    background-color:rgb(185, 64, 255) ;
    height: 30px;
    width: 30px;
    margin-right: 1rem;
    position: relative;
    bottom: 5px;
}

#clearBttn {
    border: none;
    border-radius: 10px;
    padding: 5px;
}
@media screen and (max-width: 768px) {
    canvas {
        display: flex;
        margin: auto;
        width: 90%; 
        height: 40vh; 
    }
       
}


.container{
   margin: auto;
}

.footer {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: rgb(0, 0, 0);
    background: linear-gradient(to top, rgb(255, 255, 255),  rgb(233, 199, 255));
    padding: 20px;
    text-align: center;
}

.footer h3,
.footer address {
    margin: 0;
    padding: 10px 0 0 10px;
}

.footer a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

.footer ul {
    padding-left: 0;
}

.footer ul li {
    list-style: none;
    display: inline; 
    margin-right: 10px; 
}
